langchain-community
langchain-core
langchain
chromadb
sentence-transformers
torch
transformers
fastapi
uvicorn
pyngrok
langchain-experimental
streamlit
pandas
langchain-text-splitters
einops
pypdf
fastembed
langchain-ollama
requests
langchain-groq
python-dotenv
langchain-chroma
langgraph
tavily-python
langchain-tavily